@font-face {
    font-family:Impregnable ;
    src: url(../fonts/Impregnable_Personal_Use_Only.ttf);
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: Ubuntu !important;
    /*background-color: darkslategrey;*/

    background-image: url(../Public/Images/IehB7-opacity.png);
    background-repeat: repeat;
}

.site-map{
    color:white;
    
}

.site-map a{
    color: white;
    /*text-decoration: none;*/
}


.text-center, strong, h1, h2, h3, h4, h5, h6{
    font-family: Ubuntu;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand{
    font-family: Impregnable !important;
    font-size: 50px;

}

.navbar-brand .logo-white{
    color:white;
}

.navbar-brand .logo-black{
    color:black;
}

.navbar-brand:hover .logo-black{
    color:white !important;
}

.navbar-brand:hover .logo-white{
    color:black !important;
}

.navbar-default {
    background-color: #375A7F;
    border-color:#375A7F;
}

.navbar-default a{
    color: white !important;
}

.navbar-default a:hover{
    color: #1F8D80 !important;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.comment {
    padding: 10px !important;

}

/*Pagination*/
.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
/*.table-mine{
    border:none !important; 
}
.table-mine td, th{
    border:none !important; 
}
.table-mine > tr{
    border:none !important; 
}*/

.mine{
    font-size: 50px;
}
 
.pagination-ys table > tbody > tr > td {
    display: inline;
    
}
 
.pagination-ys table > tbody > tr > td > a,
.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 3px 5px;
    line-height: 1.42857143;
    text-decoration: none;
    color: white;
    background-color: #222222;
    border: 1px solid #dddddd;
    margin-left: -1px;
}
 
.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 6px 8px;
    line-height: 1.42857143;
    text-decoration: none;    
    margin-left: -1px;
    z-index: 2;
    color: white;
    background-color: #2A9FD6;
    border-color: #dddddd;
    cursor: default;
}
 
.pagination-ys table > tbody > tr > td:first-child > a,
.pagination-ys table > tbody > tr > td:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
 
.pagination-ys table > tbody > tr > td:last-child > a,
.pagination-ys table > tbody > tr > td:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
 
.pagination-ys table > tbody > tr > td > a:hover,
.pagination-ys table > tbody > tr > td > span:hover,
.pagination-ys table > tbody > tr > td > a:focus,
.pagination-ys table > tbody > tr > td > span:focus {
    color: white;
    background-color: #2A9FD6;
    border-color: #dddddd;
}

.content-table{
    margin-top:30px;
}

.edit-btn{
    margin-top:20px;
    display: block;
}

.main-stats{
    margin-bottom:30px;
}

.content-admin-panel{
    padding: 30px;
}

.content-create-panel{
    padding: 50px;
}

/* Button upload */

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
.non-decorated{
  text-decoration: none,line-through;
  color: white;
}

.content-details{
    padding: 30px;
}

.content-details h2{
    margin-top: 0px;
}

.like-value{
    font-weight:bold;
}
